doctype html
html
	head
		meta(name="viewport" content="initial-width=device-width")
		meta(name="charset" content="utf-8")
		title= page.title
		link(rel="stylesheet" href="")
	body
		header
			div.logo
				img(src="{{page.logo.url}}")
				p= page.slogan
			nav.navbar
				ul.nav
					each item in page.navbar
						li
							a(href="{{item.url}}", target="_blank")= item.title
		div#wrapper
			div.container-fluid
				div.row
					div.col-md-3.aside
						
					div.col-md-9.main
						